<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recogida - inicio</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
	<!--Load the AJAX API-->
	
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="js/graficarutas.js"></script>
    <script type="text/javascript" src="js/grafica2.js"></script>
        <script type="text/javascript" src="js/graficaturnos.js"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- cabecera -->
		<div class="row">
			<div class="col-lg-12">
				<div class="menu_sup bordtop bordbot">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<a class="navbar-brand red" href="#">CÁRITAS KOOPERA SOC.
							COOP. ASTUR</a>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarNavAltMarkup"
							aria-controls="navbarNavAltMarkup" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a> 
								<a class="nav-link" href="#">Administración</a>
								<a class="nav-link" href="#">Tiendas</a> 
								<a class="nav-link active" href="#">Recogida</a> 
								<a class="nav-link" href="#">Picking</a>
								<a class="nav-link" href="#">Acompañamiento</a> 
								<a class="nav-link" href="#">Información</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
				<div class="subheader col-lg-12 bordbot">
			<ul class="minimal">
				<li><b>Usuario:</b> Irene González Belloso</li>
				<li>- <b>Sesión: </b></li>
				<li th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></li>

			</ul>
		</div>
				<div class="row">
			<div class="col-lg-12">
				<h1 class="areas">Área de Recogida</h1>
			</div>
		</div>
		<div class="row">


			<div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light bordbot">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                            <a class="nav-link active" th:href="@{/panelentrada(usuario=Irene)}"><i class="fas fa-desktop"></i> &nbsp; Panel</a> 
                            <a class="nav-link" th:href="@{/empleados}"><i class="fas fa-users"></i> &nbsp; Equipo</a> 
                                <a class="nav-link" th:href="@{/rutas}"><i class="fas fa-truck"></i>&nbsp; Rutas <span class="sr-only">(current)</span></a>
                                <a class="nav-link" th:href="@{/pesajes}"><i class="fas fa-weight"></i> &nbsp;Pesajes</a> <a
                                    class="nav-link" th:href="@{/contenedores}"><i class="fas fa-dumpster"></i>&nbsp; Contenedores</a> <a
                                    class="nav-link" th:href="@{/incidencias}"><i class="fas fa-exclamation-triangle"></i>&nbsp; Incidencias</a>
                                <a class="nav-link" th:href="@{/exportaciones}"><i class="fas fa-warehouse"></i>&nbsp; Exportación</a>
    
                            </div>
                        </div>
                    </nav>
                
                    <nav class="navbar navbar-expand-lg navbar-light bg-light fsmall">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>	

			</div>
			</div>
		<!-- end cabecera -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 entrada_recogida mt-3 bordbot">
            	<div class="usuario_img avatar">
            		<img src="/img/irene.jpg" alt="Avatar de usuario" class="avatar">
            	</div>
                <h3 class="avatar_saludo ml-3">¡Buenos días <span th:text="${usuario}" th:value="${usuario}" id="nombre_usuario"></span>!</h3>
            </div>
            <div class="col-lg-10 offset-lg-1">

            	
            </div>
        </div> <!--  End de contenido del saludo al usuario -->
        <div class="row">
        	<div class="col-lg-10 offset-lg-1 mt-5">
        		<h3>Últimos mensajes</h3>	
        	</div>
        	<div class="col-lg-10 offset-lg-1">
				<table class="table">
					<tr>
						<th>FECHA</th>
						<th>REMITENTE</th>
						<th>RECEPTOR</th>
						<th>ASUNTO</th>
						<th>CONTENIDO</th>
						<th>IMPORTANCIA</th>
						<th>RESPONDER</th>
						<th>ELIMINAR</th>
					</tr>
				 
				    <tr th:each="m : ${mensajes}">
				    	<td th:text="${m.hora}"></td>
				    	<td th:text="${m.empleadoid}"></td>
				    	<td th:text="${.receptorid}"></td>
				    	<td th:text="${m.asunto}"></td>
				    	<td th:text="${m.contenido}"></td>
				    	<td th:text="${m.importancia}"></td>
				    	<td><a th:href="@{/modificarmensaje(idmensaje=${m.idmensaje})}" class="btn btn-warning">Modificar</a></td>
						<td><a th:href="@{/eliminarmensaje(idmensaje=${m.idmensaje})}" class="btn btn-danger">Eliminar</a></td>
				    </tr>
				   
					<!--  
					<tr>	
						<td> <i class="fas fa-envelope red"></i></td>
						<td th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></td>
						<td>Aida Rodríguez</td>
						<td>Documentos Consejo rector</td>
						<td>Acuerdate de enviar los documentos del consejo rector porfa</td>
						<td><a href="#">Responder</a></td>
						<td><a href="#" class="redlink">Eliminar</a></td>
					</tr>
					<tr>	
						<td> <i class="fas fa-envelope red"></i></td>
						<td th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></td>
						<td>Eva Martinez</td>
						<td>Carga cancelada</td>
						<td>Acaban de cancelar las cargas del día 6</td>
						<td><a href="#" >Responder</a></td>
						<td><a href="#" class="redlink">Eliminar</a></td>
					</tr>
					<tr>	
						<td> <i class="fas fa-envelope red"></i></td>
						<td th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></td>
						<td>Enrique Enriquez Riquez</td>
						<td>Cita médica</td>
						<td>tengo cita para resonancia el día 5 a las 10 de la mañana, necesito coger las horas</td>
						<td><a href="#">Responder</a></td>
						<td><a href="#" class="redlink">Eliminar</a></td>
					</tr>
					--> 
				</table>
			</div>
        	
        </div>
        
             <div class="row">
             <div class="col-lg-12"> <!-- titulo panel -->
             	<div class="col-lg-10 offset-lg-1 mt-4 mb-4 p-0 bordbot">
             		<h3>Últimas notificaciones</h3>
             	</div>
             </div> <!-- fin titulo panel -->
             
             <div class="row">
             
             
             </div>
             
        		<div class="col-lg-2 offset-lg-1">
        			<div class="card">
					<div class="card border-danger">
						<h5 class="card-header bg-danger">Incidencias</h5>
						<div class="card-body">
							<h5 class="card-title">Avería Carga lateral</h5>
							<p class="card-text">Testigo de motor encendido</p>
							<a href="#" class="btn btn-danger">Ver detalles</a>
							<a href="#" class="btn btn-light">Cerrar</a>
							
						</div>
					</div>
				</div>
        		</div>
        		<div class="col-lg-2">
        			<div class="card">
					<div class="card border-successs">
						<h5 class="card-header bg-success">Avisos</h5>
						<div class="card-body">
							<h5 class="card-title">Contenedor lleno</h5>
							<p class="card-text">Contrueces - Parque Las Palmeras</p>
							<a href="#" class="btn btn-success">Ver detalles</a>
							<a href="#" class="btn btn-light">Cerrar</a>
						</div>
					</div>
				</div>
        		</div> <!-- fin carta -->
        		    <div class="col-lg-2">
        			<div class="card">
					<div class="card border-warning">
						<h5 class="card-header bg-warning">Mantenimiento</h5>
						<div class="card-body">
							<h5 class="card-title">Cerradura estropeada</h5>
							<p class="card-text">Contrueces - San Juan</p>
							<a href="#" class="btn btn-warning">Ver detalles</a>
							<a href="#" class="btn btn-light">Cerrar</a>
						</div>
					</div>
				</div>
        		</div> <!-- fin carta -->
        		  <div class="col-lg-2">
        			<div class="card">
					<div class="card border-primary">
						<h5 class="card-header bg-primary">Empleados</h5>
						<div class="card-body">
							<h5 class="card-title">Cita médica</h5>
							<p class="card-text">Enrique Enriquez Riquez</p>
							<a href="#" class="btn btn-primary">Ver detalles</a>
							<a href="#" class="btn btn-light">Cerrar</a>
						</div>
					</div>
				</div>
        		</div> <!-- fin carta -->
        		    <div class="col-lg-2">
        			<div class="card">
					<div class="card border-info">
						<h5 class="card-header bg-info">Cargas</h5>
						<div class="card-body">
							<h5 class="card-title">Confirmación de cargas</h5>
							<p class="card-text" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></p>
							<a href="#" class="btn btn-info">Ver detalles</a>
							<a href="#" class="btn btn-light">Cerrar</a>
						</div>
					</div>
				</div>
        		</div> <!-- fin carta -->
        	 </div>
        	 
        	 <div class="row">
        	 <div class="col-lg-10 offset-lg-1 mt-5 mb-5 bordbot">
        	 <h3>Rotación de turnos de conductores</h3>
        	 </div>
        	 	
        	 	<div class="col-lg-10 offset-lg-1">
        	 		<div id="example3.1" style=" width: 100%; height: 280px;"></div>
        	 	</div>
        	 	
             <div class="col-lg-10 offset-lg-1 mt-5 bordbot">
        	 <h3>Estadísticas de recogida y cargas</h3>
        	 </div>
        	 	<div class="col-lg-6 pl-5">
        	 		<div id="chart_div" style="width: 100%; height: 500px; border-radius: 10px;" class="ml-1 mt-4"></div>
        	 	</div>
        	 	<div class="col-lg-6 mt-4">
        	 		<div id="piechart_3d" style="width: 900px; height: 500px;"></div>
        	 	</div>
        	 </div>



	</div>





	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
		integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
		crossorigin="anonymous"></script>
</body>
</html>